/* 
    Document   : stsheet
    Created on : Sep 15, 2020, 9:32:39 PM
    Author     : mm
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
    display: block;
}*/
body { 
    Font-size: 16px;
    font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
   background-color:#f4f7f4;
}
.container{
    width: 62%;
    height: 590px;
    background-color: white;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
     margin-top: 50px;
  
    
}
.container #top {
    background-color: white;
    padding-left: 50px;
    padding-top: 35px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius:  15px;
  
}
.container #top h1{
    color:hsl(179, 62%, 43%) ;
   
}
#top h2{
    color:hsl(71, 73%, 54%);
}
#top p{

  color: #b9b6b6;
  
}
.container #botom #left {
    background-color: hsl(179, 62%, 43%);
    padding-left: 5%;
    padding-top: 30px;
    color: white;
    
    padding-right: 0px;
    
    float: left;
   width: 45%;
  height: 282px;
  
    border-bottom-left-radius: 15px;
  
}
.container #botom #left #dol {
    font-size: 35px;
    font-weight: 600;
    float:left;
    margin-top:1px;
    width :80px;
    height: 20px;
    
}
.container #botom #left #mon {

    color: #d6e1d6ad;
    padding-top: 14px;

   

}
.container #botom #left #p3 {

text-align: left;
  padding-bottom: 24px;
 margin-top: 24px;


}
.container #botom #left button {
    background-color: #9edc3f;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    width: 90%;
    height: 50px;
    border-color: #9edc3f;
}
.container #botom #right {
   background-color: hsl(179, 62%, 50%);
   color: white;
   float: right;
   width: 45%;
   height: 282px;
   padding-left:5%;
   padding-top:30px;
  
    
    
    border-bottom-right-radius: 15px;
    
   
}
 #right p  {
     
color: whitesmoke;
line-height: 1.5em;
 }

 
@media only screen and (max-width:700px) {
    
  .container{
    
    width: 98%;
    margin: 3px;
    font-size: 12px;
    
}
.container #botom #left {
    
   
   border-radius: 0px;
   width: 95%;
 
}
.container #botom #right {
     
   border-radius: 0px 0px 15px 15px;
  width: 95%;
}

}
   
 

    